/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define your custom properties */
:root {
  --primary: #1E293B;
  --secondary: #64748B;
  --accent: #E11D48;
  --background: #F8FAFC;
  --text: #1E293B;
  --border: #CBD5E1;
  --success: #22C55E;
  --warning: #EAB308;
  --error: #DC2626;
}

/* Optional: You can also specify the default body styles here */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
